<% provide(:title, "Article") %>

<div class="row text-center">
  <h1><%= @article.title.html_safe %></h1>
  <p class="article-created-time">
    <%= @article.created_at.strftime("%d %B %G") %>
  </p>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 article-body">
    <%= coderay(@article.body) %>
  </div>
</div>
<div class="row">
    <div class= "col-md-8 col-md-offset-2">
        <%= render "disqus" %>
    </div>
  </div>
