<% provide(:title, "Home") %>
  <div class="row">
    <div id="code-bckgrd">
      <div id="code">
          <div id="class-def">
              <p><span class="ruby-code">class</span><span class="class"> <span id="class"> Creative</span></span></p>
          </div>
          <div class="first-indent" id="attr-reader">
              <p><span class="ruby-code">attr_reader</span><span class="attributes"> :name, :passion, :professions</span></p>
          </div>
          <div class="first-indent" id="initialize">
            <p><span class="ruby-code">def</span> <span class="attributes">initialize</span><span class="ruby-code">(name, passion, professions)</span><br>
              <span class="ruby-code second-indent">@name</span> = <span class="code-vars">name</span><br>
              <span class="ruby-code second-indent">@passion</span> = <span class="code-vars">passion</span><br>
              <span class="ruby-code second-indent">@professions</span> = <span class="code-vars">professions</span><br>
              <span class="ruby-code first-indent">end</span>
            </p>
          </div>

            <p>
            <span class="code-vars first-indent">glenn</span> = <span class="class">Creative</span>.<span class="ruby-code">new(</span><span class="string"> "Glenn Langdon", "creativity", </span>		<span class="code-vars">[</span><span class="string"> "conduct orchestras", "play the piano", "write", "code"</span><span class="code-vars"> ]</span><span class="ruby-code">)</span><br>

            <span class="ruby-code second-indent">puts</span><span class="string"> "Hi, I'm</span> <span class="string-instance">#{</span>glenn.name<span class="string-instance">}</span> <span class="string">and I'm passionate about</span> <span class="string-instance">#{</span>glenn.passion<span class="string-instance">}</span>."<br>
           </p>

           <p>
            <span class="code-vars first-indent">glenn.professions.each</span> <span class="ruby-code">do</span><span class="ruby-code"> |skill|</span><br>

            <span class="ruby-code second-indent">puts</span> <span class="string">"I</span> <span class="string-instance">#{</span>skill<span class="string-instance">}</span><span class="string">."</span><br>

            <span class="ruby-code first-indent">end</span><br>
           <span class="ruby-code">end</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row>"
      <div id="code-output">
          <ul id="code-list">
              <li>Hi, I'm Glenn Langdon and I'm passionate about creativity.</li>
              <li>I <a href="http://www.glennlangdon.com">conduct orchestras.</a></li>
              <li>I <a href="http://www.glennlangdon.com">play the piano.</a></li>
              <li>I write.</li>
              <li>I code.</li>
              <li>[Finished in 0.062s]</li>
          </ul>
      </div>
    </div>
    <section class="articles-section">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <% @articles.each do |article| %>
        <h1 class="text-center">
          <%= link_to article.title, article_path(article) %>
        </h1>
          <%= article.body.truncate_words(33) %>
        <% end %>

      </div>
    </div>
  </section>
