// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$gary-medium-light: #eaeaea;

/* universal */
body {
    font-family: "Merriweather", serif;
    letter-spacing: 0.07rem;
    font-size: 2.25rem;
    line-height: 1.5em;
    color: #3A4145;
}
// body {font-family: "Merriweather", serif;
//     letter-spacing: 0.01rem;
//     font-size: 1.8rem;
//     line-height: 1.75em;
//     color: #3A4145;}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-margin: 30px;
  font-family: Verdana, Geneva, sans-serif;
}

#article-body-field {
  height: 300px;
}
.article-created-time {
  color: $gary-medium-light;
  font-size: 1.4rem;
}
.article-body {
  font-size: 2rem;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
