@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
#users-container {
  padding-top: 60px;
}
#users-container section {
  overflow: auto;
}
#users-container textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */
#users-container h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
#users-container p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  text-decoration: none;
  color: #fff;
}

/* mixins, variables, etc. */
$gary-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:      border-box;
  -webkit-box-sizing:   border-box;
  box-sizing:           border-box;
}
/* forms */
#users-container input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
#users-container input {
  height: auto !important;
}
