@import "bootstrap-sprockets";
@import "bootstrap";



body {
	font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
	color: white;
}
#code-bckgrd {
	height: 600px;
	width: 100%;
	background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
	position: relative;
}

/* typography */
#code {
  font-size: 1.25em;
  @media (min-width: 400px) {font-size: .9em;}
  @media (min-width: 800px) { font-size: 1em;}
  @media (min-width: 1200px) {font-size: 1.2em;}
  }

#code-list {
	// font-size: 2em;
  @media (min-width: 400px) {font-size: 1.2em;}
  @media (min-width: 800px) { font-size: 1.8em;}
  @media (min-width: 1200px) { font-size: 2em;}
}

#code-output ul {
	list-style :none;
}
#code-list li:last-child {
	color: grey;
}
#code-list li:nth-child(2) a,
#code-list li:nth-child(3) a  {
	color: inherit;
	text-decoration: none;
}
#code-list li:nth-child(2) a:hover,
#code-list li:nth-child(3) a:hover {
	text-decoration:underline;
}

/* colors */
#ruby-code {
	color: white;
}
.ruby-code {
	color: DeepSkyBlue;
}
.attributes {
	color: SandyBrown;
}
.class {
	color: LightYellow;
}
#class {
	text-decoration:underline;
}
.code-vars {
	color: LightGrey;
}
.string {
	color: yellow;
}
.string-instance {
	color: DimGray
}

.first-indent {
	margin-left: 10px;
}
.second-indent {
	margin-left: 20px;
}

#code-output {
	position: absolute;
	/*top: 330px;*/
	top:47%;
	/*right: 50px;*/
	right: 5%;
}
