<header class ="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to '&#10550; Home'.html_safe, root_path %></li>
      </ul>
      <p><%= link_to "Articles Listing", articles_path, class: "navbar-text navbar-right" %></p>
    </nav>
  </div>
</header>
