<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "Glenn's Digital Portfolio and Rails Blog", root_path, id: "logo" %>
    <nav>
      <ul class=" nav navbar-nav navbar-right">
        <li><%= link_to "Log in", login_path %></li>
      </ul>
    </nav>
  </div>
</header>
